{% extends "base_body.html" %}

{% block link_1 %}
    <link rel="stylesheet" href="/static/plugins/layer/skin/default/layer.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
{% endblock %}


{% block body %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                      <div>

                          <button  class="btn btn-primary" onclick="add_modal()">新增服务</button>
                      </div>

                    </div>
                </div>

                <div class="box-body">
                    <table id="table"></table>
                </div>


            </div>
        </div>
    </section>






{% endblock %}

{% block js %}
    <script src="/static/plugins/layer/layer.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.js"></script>

    <script>
        $(document).ready(function() {
            $('#table').bootstrapTable({
                url: '{% url 'service:servicelist'%}',
                method: 'POST',
                striped: true,
                resizable: true,
                pagination: true,
                sidePagination: 'server',
                pageNumber: 1,
                pageSize: 2,
                pageList: [2, 4, 6, 'All'],
                search: true,
                showRefresh: true,
                showToggle: true,
                showColumns: true,
                queryParams: function queryParams(params) {
                    //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    var temp = JSON.stringify({
                        rows: params.limit,                         //页面大小
                        page: (params.offset / params.limit)+1,   //页码
                        sort: params.sort,      //排序列名
                        sortOrder: params.order //排位命令（desc，asc）
                    });

                    return temp;
                },
                columns: [{
                    field: 'no',
                    title: '序号',
                    sortable: true,
                    align: 'center',
                    formatter: function (value, row, index) {
                        var options = $('#table').bootstrapTable('getOptions');
                        return options.pageSize * (options.pageNumber - 1) + index + 1;
                        }
                },
                    {field: 's_id', title: 's_id', sortable: true, align: 'center',visible:false},
                    {field: 's_name', title: '服务名',formatter: function (value, row, index) {
                        return [
                            '<a href="/service/control_list/'+row.s_name+'/'+row.s_type+'/">'+ row.s_name +'</a>'
                        ].join("")
                        }},
                    {field: 's_type', title: '类型', style:'white-space: pre-line' },
                    {field: 's_host', title: '主机'},
                    {field: 'Button', title: '操作', events:'operateEvents', formatter:'AddFunctionAlty'}
                ]


            });
        });

        function AddFunctionAlty() {
            return [
                '<button id="tbedit" type="button" class="btn btn-default">edit</button> &nbsp;&nbsp;',
                '<button id="tbdel" type="button" class="btn btn-default">del</button>'].join('')

        }

        window.operateEvents = {
            "click #tbedit":function (e,value,row,index) {
                edit_modal(row.s_id)

            },
            "click #tbdel":function (e,value,row,index) {
                del_modal(row.s_id,row.s_name)

            }
        }




        function add_modal(){
            var req_url = '{% url 'service:serviceadd' %}'
            {#var url = req_url.replace('00000',s_id)#}
            layer.open({
            type: 2,
            title: '修改主机信息',
            closeBtn: 1,
            area: ['800px', '400px'],
            shadeClose: true, //点击遮罩关闭
            content: [req_url],

            });
        };



        function edit_modal(s_id){
            var req_url = '{% url 'service:service_operation' '00000' '1'%}'
            var url = req_url.replace('00000',s_id)
            layer.open({
            type: 2,
            title: '修改主机信息',
            closeBtn: 1,
            area: ['800px', '400px'],
            shadeClose: true, //点击遮罩关闭
            content: [url],

            });
        };

        function del_modal(s_id,s_name){
            var req_url = '{% url 'service:service_operation' '00000' '2'%}'
            var url = req_url.replace('00000',s_id)
            if(confirm("确定删除"+s_name+"这个服务吗？")) {
                $.get(url,function (status) {
                    if (status == 200){
                        $("#table").bootstrapTable('refresh');
                    }
                })
            }
        }






        function refreshes_parent_table() {
            $("#table").bootstrapTable('refresh');
        }
    </script>

{% endblock %}