{% extends "base_body.html" %}
{% load static %}

{% block link_1 %}
    <link rel="stylesheet" href="{% static 'adminlet-2.4.10/dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/layer/skin/default/layer.css' %}">

{% endblock %}


{% block body %}
    <section class="content">
        <div class="box box-info">
            <div class="row">
                    <!-- /.box-header -->
                    <!-- form start -->
                <div class="col-md-6">
                    <form id="AddAsset" class="form-horizontal">{% csrf_token %}
                        <div class="box-body">
                            <div class="form-group"><label class="col-sm-2 control-label">资产</label></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span style="color: red">*</span>asset_type</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="asset_assets_type">
                                        <option value="">select</option>
                                        {% for i in meun.asset_type %}
									    <option value="{{ i.0 }}" name="asset_assets_type">{{ i.1 }}</option>
					                    {% endfor %}
								    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span style="color: red">*</span>name</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_name"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span style="color: red">*</span>sn</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_sn"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">business_unit</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_business_unit"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span style="color: red">*</span>status</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="asset_status">
                                        <option value="">select</option>
                                        {% for i in meun.asset_status %}
									    <option value="{{ i.0 }}" name="asset_status">{{ i.1 }}</option>
					                    {% endfor %}
								    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">manufacturer</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_manufacturer"><span id="error_s_name"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span style="color: red">*</span>manage_ip</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_manage_ip"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">admin</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_admin"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">idc</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_idc"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">contract</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_contract"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">purchase_day</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_purchase_day"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">expire_day</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_expire_day"><span id="error_s_name"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">price</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_price"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">approved_by</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_approved_by"><span id="error_s_name"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">tags</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="tags">
                                        <option value="">select</option>
                                        {% for i in meun.tag %}
									    <option value="{{ i.id }}">{{ i.name }}</option>
					                    {% endfor %}
								    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">memo</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="请输入主机名" name="asset_memo"><span id="error_s_name"></span>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="form-group"><label class="col-sm-2 control-label">服务器</label></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">sub_asset_type</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="server_sub_asset_type">
                                            <option value="">select</option>
                                            {% for i in meun.server_type %}
                                            <option value="{{ i.0 }}">{{ i.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">created_by</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="请输入主机名" readonly  unselectable="on" name="server_created_by" value="manual">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><span style="color: red">*</span>username</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="请输入主机名"  name="server_username" >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><span style="color: red">*</span>passwd</label>
                                    <div class="col-sm-5">
                                        <input type="password" class="form-control" placeholder="请输入主机名"  name="server_passwd" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"><span style="color: red">*</span>sshport</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="请输入主机名"  name="server_sshport" value="22">
                                    </div>
                                </div>




                            </div>


                            <div class="box-footer">
                                <a class="btn btn-default pull-right" href="javascript:window.opener=null;window.close();">取消</a>
                                <button  type="button" class="btn btn-primary pull-right" onclick="AddAssetData()">提交</button>
                            </div>


                        </div>




                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}


{% block js %}
    <script>
	function getFormData (form, filler) {
		var asset = {};
		var server = {};
		var net = {};
		for (var i = 0; i < form.length; ++i) {
			var name = form[i].name;
			var value = form[i].value;

			if (name.length == 0)
				continue;
			try {

				value  = value.replace(/\n/g,'<br/>');

			}catch (e) {
				alert(e);
			}
			if (value.length == 0) {
				if ((typeof filler != 'string') || (filler.length == 0))
					continue;
				else
					value = filler;
			}
			let assetStart = name.indexOf("asset_");
			let serverStart = name.indexOf("server_");
			let netStart = name.indexOf("net_");

			if (assetStart==0){
				var asz = "asset."+name.replace("asset_","")+" = '" + value + "'";

				try {
					eval(asz);
				} catch (e) {
					alert(e);
				}
			}
			else if(serverStart==0){
				var ssz = "server."+name.replace("server_","")+" = '" + value + "'";
				try {
					eval(ssz);
				} catch (e) {
					alert(e);
				}
			}
			else if(netStart==0){
				var nsz = "net."+name.replace("net_","")+" = '" + value + "'";
				try {
					eval(nsz);
				} catch (e) {
					alert(e);
				}
			}
			else if(netStart==0){
				var nsz = "net."+name.replace("net_","")+" = '" + value + "'";
				try {
					eval(nsz);
				} catch (e) {
					alert(e);
				}
			}

		}
		if (asset.assets_type == "server" || asset.assets_type=="vmser"){
			server.asset = asset;
			return server;
		}
		else {
			net.asset = asset;
			return net;
		}
	}

    function AddAssetData() {
	    var asset_from  = document.getElementById('AddAsset')
        var required = ['asset_assets_type','asset_name','asset_sn','asset_status','asset_manage_ip',
            'server_username','server_passwd','server_sshport']
	    for (var i=0;i<asset_from.length;i++){
            var name = asset_from[i].name;
            var value = asset_from[i].value;
            idx = $.inArray(name, required);
            if (idx >= 0 && value.length == 0){
                new PNotify({
                    title: 'Warning!',
                    text: '请注意必填项不能为空~',
                    type: 'warning',
                    styling: 'bootstrap3'
                });
                return false;
            };

        };


        var asset_data = getFormData(asset_from,'');
        console.log(asset_data)

        $.ajax({
            dataType: "JSON",
            url:"{% url 'api:api-assetslist' %}",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify({
                'data':asset_data
            }),
            success:function (response) {
                if (response.code == 201){
                    if (confirm('提交完成，关闭当前页')){
                        window.opener.location.reload()
                        window.close()
                    }
                }
            }
        })


    }
    </script>



{% endblock %}