{% extends "base_body.html" %}
{% load static %}

{% block link_1 %}
    <link rel="stylesheet" href="{% static 'adminlet-2.4.10/dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/layer/skin/default/layer.css' %}">

{% endblock %}


{% block body %}


     <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">

        <div class="box-header with-border">
            <h3 class="box-title"><strong class="btn btn-block btn-primary btn-lg">资产：{{ asset.name }}</strong></h3>

            <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">

            <h4><b>概览:</b></h4>
        <button type="button" onclick="gailan({{ asset.server.id }})" style="float: right">保存</button>
        <form id="gailan">
            <table  border="1" class="table  table-responsive" style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue" >
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>SN</th>
                        <th>业务线</th>
                        <th>制造商</th>
                        <th>管理IP</th>
                        <th>机房</th>
                        <th>标签</th>
                        <th>更新日期</th>

                    </tr>
                </thead>
                <tbody>
                <tr>
{#                    <td>{{ asset.get_asset_type_display }}</td>#}
                    <input type="text" style="display: none" readonly  unselectable="on" name="asset_asset_type" value="{{ asset.asset_type }}">
                    <input type="text" style="display: none" readonly  unselectable="on" name="asset_sn" value="{{ asset.sn }}">
                    <input type="text" style="display: none" readonly  unselectable="on" name="asset_name" value="{{ asset.name }}">
                    <td>{{ asset.asset_type }}</td>
                    <td>{{ asset.sn }}</td>
{#                    <td>{{ asset.business_unit|default:'N/A' }}</td>#}
                    <td>
                        <select class="form-control"  name="asset_business_unit" id="asset_business_unit">

                        </select>
                    </td>
{#                    <td>{{ asset.manufacturer|default:'N/A' }}</td>#}
                    <td>{{ asset.manufacturer }}</td>
{#                    <td>{{ asset.manage_ip|default:'N/A' }}</td>#}
                    <td><input type="text" name="asset_manage_ip" value="{{ asset.manage_ip }}"></td>
{#                    <td>{{ asset.idc|default:'N/A' }}</td>#}
                    <td>
                        <select class="form-control"  name="asset_idc" id="asset_idc">

                        </select>
                    </td>

                    <td>
                        <select class="form-control" multiple="multiple" name="asset_tags" id="asset_tags">
                        {% for tag in meun.tag %}

                            {% if tag in asset.tags.all %}
                                <option value="{{ tag.id }}" selected="selected">{{ tag.name }}</option>
                            {% else %}
                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                            {% endif %}

                        {% endfor %}
                        </select>
                    </td>
                    <td>{{ asset.m_time }}</td>

                </tr>
                </tbody>
            </table>



            <table border="1" class="table  table-responsive" style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue">
                <thead>
                    <tr>
                        <th>管理账户</th>
                        <th>管理密码</th>
                        <th>ssh端口</th>
                        <th>sudo密码</th>
                        <th>秘钥文件</th>


                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" name="server_username" value="{{ asset.server.username | default:''}}"></td>
                    <td><input type="text" name="server_passwd" value="{{ asset.server.passwd | default:''}}"></td>
                    <td><input type="text" name="server_sshport" value="{{ asset.server.sshport | default:''}}"></td>
                    <td><input type="text" name="server_sudo_passwd" value="{{ asset.server.sudo_passwd | default:''}}"></td>
                    <td><input type="text" name="server_keyfile" value="{{ asset.server.keyfile | default:''}}"></td>


                </tr>
                </tbody>
            </table>
        </form>
            <br />
            <table border="1" class="table  table-responsive" style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue">
                <thead>
                    <tr>
                        <th>合同</th>
                        <th>价格</th>
                        <th>购买日期</th>
                        <th>过保日期</th>
                        <th>管理员</th>
                        <th>批准人</th>
                        <th>备注</th>
                        <th>批准日期</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ asset.contract.name|default:'N/A' }}</td>
                    <td>{{ asset.price|default:'N/A' }}</td>
                    <td>{{ asset.purchase_day|default:'N/A' }}</td>
                    <td>{{ asset.expire_day|default:'N/A' }}</td>
                    <td>{{ asset.admin|default:'N/A' }}</td>
                    <td>{{ asset.approved_by|default:'N/A' }}</td>
                    <td>{{ asset.memo|default:'N/A' }}</td>
                    <td>{{ asset.c_time }}</td>
                </tr>
                </tbody>
            </table>

            <h4><b>服务器:</b></h4>
            <table border="1" class="table  table-responsive" style="border-left:3px solid green;border-bottom:1px solid green">
                <thead>
                    <tr>
                        <th>服务器类型</th>
                        <th>型号</th>
                        <th>宿主机</th>
                        <th>Raid类型</th>
                        <th>OS类型</th>
                        <th>OS发行版本</th>
                        <th>OS版本</th>
                        <th>添加方式</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ asset.server.get_sub_asset_type_display }}</td>
                    <td>{{ asset.server.model|default:'N/A' }}</td>
                    <td>{{ asset.server.hosted_on.id|default:'N/A' }}</td>
                    <td>{{ asset.server.raid_type|default:'N/A' }}</td>
                    <td>{{ asset.server.os_type|default:'N/A' }}</td>
                    <td>{{ asset.server.os_distribution|default:'N/A' }}</td>
                    <td>{{ asset.server.os_release|default:'N/A' }}</td>
                    <td>{{ asset.server.get_created_by_display }}</td>
                </tr>
                </tbody>
            </table>

            <h4><b>CPU:</b></h4>
            <table border="1" class="table  table-responsive" style="border-left:3px solid purple;border-bottom:1px solid purple">
                <thead>
                    <tr>
                        <th  style="width: 45%">CPU型号</th>
                        <th  style="width: 15%">物理CPU个数</th>
                        <th>CPU核数</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ asset.cpu.cpu_model|default:'N/A' }}</td>
                    <td>{{ asset.cpu.cpu_count|default:'1' }}</td>
                    <td>{{ asset.cpu.cpu_core_count|default:'1' }}</td>
                </tr>
                </tbody>
            </table>

            <h4><b>内存:</b></h4>
            <table border="1" class="table  table-responsive" style="border-left:3px solid orangered;border-bottom:1px solid orangered">
                <thead>
                    <tr>
                        <th style="width:5%;">序号</th>
                        <th>型号</th>
                        <th>容量</th>
                        <th>插槽</th>
                        <th>制造商</th>
                        <th>SN</th>
                    </tr>
                </thead>
                <tbody>
                {% for ram in asset.ram_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ ram.model|default:'N/A' }}</td>
                        <td>{{ ram.capacity|default:'N/A' }}</td>
                        <td>{{ ram.slot }}</td>
                        <td>{{ ram.manufacturer|default:'N/A' }}</td>
                        <td>{{ ram.sn|default:'N/A' }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h4><b>硬盘:</b></h4>
            <table border="1" class="table  table-responsive" style="border-left:3px solid brown;border-bottom:1px solid brown">
                <thead>
                    <tr>
                        <th style="width:5%;">序号</th>
                        <th>型号</th>
                        <th>容量</th>
                        <th>插槽</th>
                        <th>接口类型</th>
                        <th>制造商</th>
                        <th>SN</th>
                    </tr>
                </thead>
                <tbody>
                {% for disk in asset.disk_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ disk.model|default:'N/A' }}</td>
                        <td>{{ disk.capacity|default:'N/A' }}</td>
                        <td>{{ disk.slot|default:'N/A'  }}</td>
                        <td>{{ disk.get_interface_type_display }}</td>
                        <td>{{ disk.manufacturer|default:'N/A' }}</td>
                        <td>{{ disk.sn}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h4><b>网卡:</b></h4>
            <table border="1" class="table  table-responsive" style="border-left:3px solid #a59b1a;border-bottom:1px solid #a59b1a">
                <thead>
                    <tr>
                        <th style="width:5%;">序号</th>
                        <th>名称</th>
                        <th>型号</th>
                        <th>MAC</th>
                        <th>IP</th>
                        <th>掩码</th>
                        <th>绑定地址</th>
                    </tr>
                </thead>
                <tbody>
                {% for nic in asset.nic_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ nic.name|default:'N/A' }}</td>
                        <td>{{ nic.model }}</td>
                        <td>{{ nic.mac  }}</td>
                        <td>{{ nic.ip_address|default:'N/A' }}</td>
                        <td>{{ nic.net_mask|default:'N/A' }}</td>
                        <td>{{ nic.bonding|default:'N/A' }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- /.box-body -->



        <div class="box-footer">
          <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;<a href="{% url 'assets:assets_list' %}"><strong>返回资产列表页</strong></a>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
{% endblock %}


{% block js %}
    <script src="{% static 'plugins/layer/layer.js'%}"></script>

    <script>
    	function getFormData (form, filler) {
            var asset = {};
            var server = {};
            var net = {};
            for (var i = 0; i < form.length; ++i) {
                var name = form[i].name;
                var value = form[i].value;

                if (name.length == 0)
                    continue;
                try {

                    value  = value.replace(/\n/g,'<br/>');

                }catch (e) {
                    alert(e);
                }
                if (value.length == 0) {
                    if ((typeof filler != 'string') || (filler.length == 0))
                        continue;
                    else
                        value = filler;
                }
                let assetStart = name.indexOf("asset_");
                let serverStart = name.indexOf("server_");
                let netStart = name.indexOf("net_");

                if (assetStart==0){
                    /*
                    if (name == 'asset_tags'){
                        var items = new Array();

                        items = $("#asset_tags option:selected");

                        var items_ret = get_multiple_select_value(items)
                        console.log(typeof items_ret)
                        var new_name = name.replace("asset_","")
                        asset[new_name] = items_ret
                        console.log('name:'+name)

                    }else {
                        var asz = "asset."+name.replace("asset_","")+" = '" + value + "'";
                    }
                    */
                    var asz = "asset."+name.replace("asset_","")+" = '" + value + "'";

                    try {
                        eval(asz);
                    } catch (e) {
                        alert(e);
                    }
                }
                else if(serverStart==0){
                    var ssz = "server."+name.replace("server_","")+" = '" + value + "'";
                    console.log(ssz)
                    try {
                        eval(ssz);
                    } catch (e) {
                        alert(e);
                    }
                }
                else if(netStart==0){
                    var nsz = "net."+name.replace("net_","")+" = '" + value + "'";
                    try {
                        eval(nsz);
                    } catch (e) {
                        alert(e);
                    }
                }
                else if(netStart==0){
                    var nsz = "net."+name.replace("net_","")+" = '" + value + "'";
                    try {
                        eval(nsz);
                    } catch (e) {
                        alert(e);
                    }
                }

            }
            if (asset.asset_type == "server" || asset.asset_type=="vmser"){
                server.asset = asset;
                console.log(server)
                return server;
            }
            else {
                net.asset = asset;
                return net;
            }
        }



        function gailan(serverID) {

    	    var asset_from  = document.getElementById('gailan')
            var asset_data = getFormData(asset_from,'');
    	    console.log(asset_data)
            var req_url = '{% url 'api:api-assetaction' '00000'%}'
            var url = req_url.replace('00000',serverID)
            $.ajax({
                dataType: "JSON",
                url:url,
                contentType: "application/json",
                type:"PUT",
                data: JSON.stringify({'data':asset_data})
                }

            )
        }



        function requests(method,url,data){
            var ret = '';
            $.ajax({
                async:false,
                url:url, //请求地址
                type:method,  //提交类似
                success:function(response){
                     ret = response;
                },
                error:function(data){
                    ret = {};
                }
            });
            return 	ret
        }






        $(function () {
            /*
            $.get('/api/asset/server/23/',function (data) {
                console.log(data)
            })
            */
            meun_url = '/api/asset/meun/'
            url = '/api/asset/server/23/'
            var api_meun = requests('get',meun_url)
            var asset_data = requests('get',url)

            console.log(api_meun)
            console.log(asset_data)
            asset_business_unit_select(api_meun.bu,asset_data.asset.business_unit)
            asset_idc_select(api_meun.idc,asset_data.asset.idc)



        })

        function asset_business_unit_select (meun_bu,asset_bu){
			var binlogHtml = '<select class="form-control"  name="asset_business_unit" id="asset_business_unit"><option   value="">请选择服务器</option>'
			var selectHtml = '';
			for (var i=0; i < meun_bu.length; i++){
			    if (asset_bu == meun_bu[i]["pk"]){
			        selectHtml += '<option  selected="selected value="'+ meun_bu[i]["pk"] +'">' + meun_bu[i]["name"] + '</option>'
                }else {
			        selectHtml += '<option   value="'+ meun_bu[i]["pk"] +'">' + meun_bu[i]["name"] + '</option>'
                }

			};
			binlogHtml =  binlogHtml + selectHtml + '</select>';
			$("#asset_business_unit").html(binlogHtml)
        }

        function asset_idc_select(meun_idc,asset_idc) {
            var binlogHtml = '<select class="form-control"  name="asset_idc" id="asset_idc"><option   value="">请选择服务器</option>'
			var selectHtml = '';
			for (var i=0; i < meun_idc.length; i++){
			    if (asset_idc == meun_idc[i]["pk"]){
			        selectHtml += '<option  selected="selected value="'+ meun_idc[i]["pk"] +'">' + meun_idc[i]["name"] + '</option>'
                }else {
			        selectHtml += '<option   value="'+ meun_idc[i]["pk"] +'">' + meun_idc[i]["name"] + '</option>'
                }

			};
			binlogHtml =  binlogHtml + selectHtml + '</select>';
			$("#asset_idc").html(binlogHtml)
        }


        function get_multiple_select_value(items) {



            var itemvalue = new Array();

            for(var i = 0;i<items.length;i++){
                itemvalue.push(items[i].value);

            }
            console.log(itemvalue)
            return itemvalue
        }


    </script>


{% endblock %}