{% extends "base_body.html" %}

{% block link_1 %}

{% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                      <button type="button" class="btn btn-primary" onclick="assetsync()">add</button>

                    </div>
                </div>

                <div class="box-body">

                </div>


            </div>
        </div>
    </section>
{% endblock %}


{% block js %}
    <script>

    </script>
{% endblock %}