{% extends 'base_form.html' %}

{% block css %}
        <link rel="stylesheet" href="/static/plugins/select2/select2.min.css">
{% endblock %}


{% block body %}

    <section class="content">
        <div class="box box-info">
            <div class="row">

                <div class="box-body">
                    <form id="crontab_add_form" class="form-horizontal">
                        <div class="form-group">
                                <label class="col-sm-2 control-label">{{ crontab_modelform.jobname.label }}</label>
                            <div class="col-sm-5">
                                {{ crontab_modelform.jobname }}<span id="error_s_name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ crontab_modelform.minute.label }}</label>
                            <div class="col-sm-5">
                                {{ crontab_modelform.minute }}<span id="error_s_type"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ crontab_modelform.hour.label }}</label>
                            <div class="col-sm-5">
                                {{ crontab_modelform.hour}}<span id="error_h_server"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ crontab_modelform.day.label }}</label>
                            <div class="col-sm-5">
                                {{ crontab_modelform.day}}<span id="error_h_server"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ crontab_modelform.month.label }}</label>
                            <div class="col-sm-5">
                                {{ crontab_modelform.month}}<span id="error_h_server"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ crontab_modelform.weekday.label }}</label>
                            <div class="col-sm-5">
                                {{ crontab_modelform.weekday}}<span id="error_h_server"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ crontab_modelform.jobcli.label }}</label>
                            <div class="col-sm-5">
                                {{ crontab_modelform.jobcli}}<span id="error_h_server"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ crontab_modelform.cron_host.label }}</label>
                            <div class="col-sm-5">
                                {{ crontab_modelform.cron_host}}<span id="error_h_server"></span>
                            </div>
                        </div>
                    </form>
                    <div class="box-footer">
        {#                <button type="submit" class="btn btn-default">Cancel</button>#}
                        <button id="crontab_add_sub"  type="button" class="btn btn-primary pull-right" >提交</button>
                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock body %}

{% block js %}

    <script src="/static/plugins/select2/select2.full.min.js"></script>
    <script>
        $('#crontab_add_sub').click(function () {
            $.post('{% url 'hosts:crontab_add' %}',$('#crontab_add_form').serialize(),function (data) {

               if (data.status == 200){

                   var index = parent.layer.getFrameIndex(window.name);
                   parent.layer.close(index);
                   parent.location.reload();

               }else {
                   new PNotify({
                    title: 'Warning!',
                    text: 'post error~',
                    type: 'warning',
                    styling: 'bootstrap3'
                });
                   return false;
               }
            })

        })



        $("#id_cron_host").select2({
            placeholder: 'host',
            multiple:true,
            language: "zh-CN",
            allowClear:true,
            closeOnSelect:false,
            theme: "classic",
        });
    </script>

{% endblock js %}