<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/layer/skin/default/layer.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
</head>
<body>



    {% csrf_token %}
    <button id="celery_exec" style="background-color: green" onclick="celery_exec()" c_id="">celery_exec</button>
    <button id="celery_result" style="background-color: green" onclick="celery_result()" >celery_result</button>

    <textarea id="result"></textarea>


    <button id="testajax" type="button">ajax-csrf</button>

    <div>
        <button id="websocket_post" type="button">websocket_post</button>


    </div>
    <div id="websocket_result"></div>

    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/plugins/layer/layer.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script>

        function celery_exec(){
            $('#result').append('')
            $.get('{% url 'hosts:hostgroup' %}',{'celery_test':'exec'},function(result){
                $('#celery_exec').attr('c_id',result.celery_id)
            })
        }

        function celery_result() {

            $.post('{% url 'hosts:hostgroup' %}',{'celery_id':$('#celery_exec ').attr('c_id')},function(result){
                console.log(result.result.success)
                $('#result').append(JSON.stringify(result.result.success))
            })

        }

        $('#testajax').click(function () {
            var data = {"action":
                    {"servicename":"zabbix_agentd",
                        "ip":"192.168.79.134",
		                "target":"started"
	                }
                }

            {#var csrtoken = $.cookie.get('csrftoken')#}
            {#var csrftoken = $.cookie('csrftoken')#}
            {#console.log(csrftoken)#}
            $.ajax({
                    url: '/api/service/action/',
                    type: 'POST',
                    dataType: 'JSON',
                    {#headers:{'X-CSRFToken':csrftoken},#}
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (data, status) {
                        console.log(data);
                    }
                }

            )
        })


        function makeRandomId() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            for (var i = 0; i < 8; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
            return text;
        }


        var randromChat = makeRandomId()






        $('#websocket_post').click(function () {
            var btnObj = $(this);
            let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
    	    let websocket = new WebSocket(ws_scheme + '://' + window.location.host + "/ws/ansible/model/" + randromChat + '/');
    	    let out_print = $("#websocket_result");

    	    websocket.onopen = function () {
    	    	out_print.html('服务器正在处理，请稍等。。。\n\n');
		    	let data = {

						'custom':'shell test'
					}
    	    	websocket.send(JSON.stringify(data));
    	    };

    	    websocket.onmessage = function (event) {
    	    	out_print.append(event.data+'\n')
    	    };

    	    websocket.onerror = function(event) {
    	    	console.log(event)
    	    	websocket.close();
				out_print.append('\n服务器连接异常\n\n');
    	    };

    	    websocket.onclose = function () {
    	    	btnObj.removeAttr('disabled');
    	    }

        })


    </script>
</body>
</html>