<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/layer/skin/default/layer.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="/static/plugins/nprogress/nprogress.css">
    <link rel="stylesheet" href="/static/plugins/highlight/styles/default.css">
    <script src="/static/plugins/highlight/highlight.pack.js" type="text/javascript"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>



    {% csrf_token %}
    <button id="celery_exec" style="background-color: green" onclick="celery_exec()" c_id="">celery_exec</button>
    <button id="celery_result" style="background-color: green" onclick="celery_result()" >celery_result</button>

    <textarea id="result"></textarea>


    <button id="testajax" type="button">ajax-api</button>

    <div>
        <button id="websocket_post" type="button">websocket_post</button>


    </div>
    <div id="websocket_result"></div>


    <pre><code class="sql">UPDATE `opsmanage`.`opsmanage_database_server_config` SET `id`=2, `db_env`='beta', `db_type`='MySQL', `db_business`=5, `db_mode`='single', `db_user`='root', `db_passwd`='redhat', `db_port`=3307, `db_version`='5.6', `db_mark`='hhdd', `db_rw`='r/w', `db_assets_id`=3 WHERE `id`=2 AND `db_env`='beta' AND `db_type`='MySQL' AND `db_business`=5 AND `db_mode`='single' AND `db_user`='root' AND `db_passwd`='redhat' AND `db_port`=3307 AND `db_version`='5.6' AND `db_mark`='uuiio' AND `db_rw`='r/w' AND `db_assets_id`=3 LIMIT 1; #start 892 end 1239 time 2019-12-01 14:24:18
UPDATE `opsmanage`.`opsmanage_database_server_config` SET `id`=3, `db_env`='ga', `db_type`='MySQL', `db_business`=9, `db_mode`='single', `db_user`='root', `db_passwd`='redhat', `db_port`=3307, `db_version`='5.6', `db_mark`='ffgg', `db_rw`='read', `db_assets_id`=3 WHERE `id`=3 AND `db_env`='ga' AND `db_type`='MySQL' AND `db_business`=9 AND `db_mode`='single' AND `db_user`='root' AND `db_passwd`='redhat' AND `db_port`=3307 AND `db_version`='5.6' AND `db_mark`='asdsd' AND `db_rw`='read' AND `db_assets_id`=3 LIMIT 1; #start 507 end 861 time 2019-12-01 12:41:07
UPDATE `opsmanage`.`opsmanage_database_server_config` SET `id`=2, `db_env`='beta', `db_type`='MySQL', `db_business`=5, `db_mode`='single', `db_user`='root', `db_passwd`='redhat', `db_port`=3307, `db_version`='5.6', `db_mark`='uuiio', `db_rw`='r/w', `db_assets_id`=3 WHERE `id`=2 AND `db_env`='beta' AND `db_type`='MySQL' AND `db_business`=5 AND `db_mode`='single' AND `db_user`='root' AND `db_passwd`='redhat' AND `db_port`=3307 AND `db_version`='5.6' AND `db_mark`='hhdd' AND `db_rw`='r/w' AND `db_assets_id`=3 LIMIT 1; #start 4 end 476 time 2019-12-01 12:41:01</code></pre>




    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/plugins/layer/layer.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/plugins/nprogress/nprogress.js"></script>
    <script>

        function celery_exec(){
            $('#result').append('')
            $.get('{% url 'hosts:hostgroup' %}',{'celery_test':'exec'},function(result){
                $('#celery_exec').attr('c_id',result.celery_id)
            })
        }

        function celery_result() {

            $.post('{% url 'hosts:hostgroup' %}',{'celery_id':$('#celery_exec ').attr('c_id')},function(result){
                console.log(result.result.success)
                $('#result').append(JSON.stringify(result.result.success))
            })

        }

        $('#testajax').click(function () {
            var data = {"action":
                    {"servicename":"zabbix_agentd",
                        "ip":"192.168.79.134",
		                "target":"started"
	                }
                }

            {#var csrtoken = $.cookie.get('csrftoken')#}
            {#var csrftoken = $.cookie('csrftoken')#}
            {#console.log(csrftoken)#}
            $.ajax({
                    url: '/api/service/action/',
                    type: 'POST',
                    dataType: 'JSON',
                    {#headers:{'X-CSRFToken':csrftoken},#}
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (data, status) {
                        console.log(data);
                    }
                }

            )
        })


        function makeRandomId() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            for (var i = 0; i < 8; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
            return text;
        }


        var randromChat = makeRandomId()






        $('#websocket_post').click(function () {
            var btnObj = $(this);
            let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
            {#let ip_prot = window.location.host.replace(/:[\S]+/,':8090')#}
            let ip_prot = window.location.host
    	    let websocket = new WebSocket(ws_scheme + '://' + ip_prot  + "/ws/ansible/model/" + randromChat + '/');
    	    let out_print = $("#websocket_result");
            NProgress.start();
    	    websocket.onopen = function () {
    	    	out_print.html('服务器正在处理，请稍等。。。\n\n');
		    	let data = {

						'ip':'192.168.79.134',
                        'arg':'ls /'
					}
    	    	websocket.send(JSON.stringify(data));
    	    };

    	    websocket.onmessage = function (event) {
    	        NProgress.done();
    	    	out_print.append(event.data+'\n')

    	    };

    	    websocket.onerror = function(event) {
    	    	console.log(event)
    	    	websocket.close();
				out_print.append('\n服务器连接异常\n\n');
    	    };

    	    websocket.onclose = function () {
    	    	btnObj.removeAttr('disabled');
    	    }

        })

        $(function () {
            var aa = window.location.host
            console.log(aa.replace(/:[\S]+/,':8090'))
                /*
                                    $('pre code').each(function(i, block) {
                            hljs.highlightBlock(block);
                        });
                */
        })


    </script>
</body>
</html>