{% extends 'base_form.html' %}



{% block body %}

    <section class="content">
            <div class="box box-info">
                <div class="row">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" id="host_edit">
                      <div class="box-body">
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-2 control-label">{{ host_modelform.h_name.label }}</label>

                          <div class="col-sm-5">
                            {{ host_modelform.h_name }}<span id="error_h_name"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label">{{ host_modelform.h_ip.label }}</label>

                          <div class="col-sm-5">
                             {{ host_modelform.h_ip }}<span id="error_h_ip"></span>
                          </div>
                        </div>

                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer">
        {#                <button type="submit" class="btn btn-default">Cancel</button>#}
                        <button id="post_hostedit" type="button" class="btn btn-info pull-right">Update</button>
                      </div>
                      <!-- /.box-footer -->
                    </form>
                </div>
            </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $('#post_hostedit').click(function () {
            $.post('{% url 'hosts:hostedit' host_id %}',$('#host_edit').serialize(),function(data){
                if (data == 200){
                    {#window.parent.location.reload();#}

                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    window.parent.window.refreshes_parent_table();


                }
            })
        })

    </script>

{% endblock %}
