{% extends "base_body.html" %}
{% block daohang1 %}dashboard{% endblock %}
{% block link_1 %}<link rel="stylesheet" href="/static/css/AdminLTE.css"/>{% endblock %}
{% block body %}

    <section class="content">
     <div class="row">
        <div class="col-lg-3 col-xs-3">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3 id="host_off_line"></h3>
              <p>离线主机</p>
            </div>
            <div class="icon">
              <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
            </div>
            <a href="#" class="small-box-footer">更多信息<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-3">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3 id="server_off_line"></h3>

              <p>离线服务</p>
            </div>
            <div class="icon">
              <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </div>
            <a href="#" class="small-box-footer">更多信息<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-3">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>失败发布</p>
            </div>
            <div class="icon">
              <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            </div>
            <a href="#" class="small-box-footer">更多信息<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-3">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>错误日志</p>
            </div>
            <div class="icon">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </div>
            <a href="#" class="small-box-footer">更多信息<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>


        <div id="cpu" style="width:300px;height:300px;float: left;left: 8%;z-index: 9999"></div>
        <div id="mem" style="width:300px;height:300px;float: left;left: 8%;z-index: 9999"></div>
        <div id="disk" style="width:300px;height:300px;float: left;left: 8%;z-index: 9999"></div>
        <div id="Net" style="width: 100%;height: 300px;z-index: 1"></div>



</section>


{% endblock %}

{% block js %}


    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script src="/static/js/adminlte.min.js"></script>
    <script src="/static/js/apps/dashboard/dashboard.js"></script>
    <script type="text/javascript">



        {#离线主机#}
        $.get('{% url 'api:dashboard' 'host_off_line' %}').done(function (result) {
            $("#host_off_line").text(result.host_off_line)
        });

        {#离线服务#}
        $.get('{% url 'api:dashboard' 'server_off_line' %}').done(function (result) {
            $("#server_off_line").text(result.server_off_line)
        });



        {#CPU仪表#}
        $.get('{% url 'api:dashboard' 'cpu' %}').done(function (result) {
            var cpu = echarts.init(document.getElementById('cpu'));
            cpu.hideLoading();
            cpu.setOption({
                tooltip : {
                    formatter: "{a} <br/>{b} : {c}%"
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: 'CPU已使用(总)',
                        type: 'gauge',
                        detail: {formatter:'{value}%'},
                        data: [{value: result.cpu, name: 'CPU'}]
                    }
                ]
            });
        });


        {#MEM仪表#}
        $.get('{% url 'api:dashboard' 'mem' %}').done(function (result) {
            var mem = echarts.init(document.getElementById('mem'));
            mem.hideLoading();
            mem.setOption({
                tooltip : {
                    formatter: "{a} <br/>{b} : {c}%"
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: 'MEM已使用(总)',
                        type: 'gauge',
                        detail: {formatter:'{value}%'},
                        data: [{value: result.mem, name: 'MEM'}]
                    }
                ]
            });
        });

        {#DISK仪表#}
        $.get('{% url 'api:dashboard' 'disk' %}').done(function (result) {
            var disk = echarts.init(document.getElementById('disk'));
            disk.hideLoading();
            disk.setOption({
                tooltip : {
                    formatter: "{a} <br/>{b} : {c}%"
                },
                toolbox: {
                    feature: {
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: 'DISK已使用(总)',
                        type: 'gauge',
                        detail: {formatter:'{value}%'},
                        data: [{value: result.disk, name: 'DISK'}]
                    }
                ]
            });
        });

        //网络汇总趋势
        $.get('{% url 'api:dashboard' 'net' %}').done(function (result) {

            var Net = echarts.init(document.getElementById('Net'));
                Net.hideLoading();
                Net.setOption({
                    title : {
                        text: '网络流量',
                        subtext: '出入合计'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['流入','流出']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : result.net.net_in_total.date
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'流入',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:result.net.net_in_total.value
                        },
                        {
                            name:'流出',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data:result.net.net_out_total.value
                        },
                    ]
                });
        });


        //function myrefresh(){
        //    window.location.reload();
        //}
        //setTimeout('myrefresh()',60000);
    </script>



{% endblock %}